<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <a href="https://stu.ityxb.com/" target="_blank">传智教育平台</a>
    <form method="post" action="/index">
        <p><input type="text" name="userName" placeholder="用户名"></p>
        <p><input type="password" name="password" placeholder="密码"></p>

        <p><select name="model">
                <option value="1">预习课</option>
                <option value="2">免费课</option>
            </select></p>
        <p><input type="text" name="classID" placeholder="课程ID"></p>
        <button>GO!</button>
    </form>
</body>
</html>